* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    display: flex;
}

/*Herunder kommer vores mere individuelle css koder, på diverse headers, p tags osv.*/

h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Merriweather', serif;
    color: #262240;
    margin: 30px;
}

h2 {
    font-family: 'Merriweather', serif;
    padding: 10px;
    font-size: 1.5em;
    color: #262240;
}

p {
    margin: 10px 0 0 10px;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        /*"sidebar main main main"*/
        "footer footer footer footer"
}

.cov {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    text-align: center;
}

.billede:hover {
    opacity: 70%;
}

.splash {
    background-image: url(tema_07_splash.png);
    background-size: cover;
    width: 100%;
    height: 58.6vw;
    position: relative;
    margin-bottom: 100px;
}

.item-c {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin: 20px;

}

article {
    background-color: beige;
}

.valgt {
    text-decoration: underline;
}

/*Herunder er vores kode på vores pop-up vindue. Billeder og tekst syntes vi skulle se en smule anderledes ud i disse*/

#popup {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 80vw;
    margin: 4rem auto;
    background-color: beige;
    padding: 10px;
    position: relative;

}

.tekst {
    height: 100px;
    overflow: scroll;
}


.pop_kunstner {
    font-size: 3em;
    text-transform: uppercase;
}

.pop_kategori {
    text-transform: capitalize;
}

.pop_billede {
    width: 100%;
}


#luk {
    position: absolute;
    top: 1%;
    right: 1%;
    color: black;
    border-radius: 10px;
    cursor: pointer;

}

button {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 10px;
    flex-basis: auto;
    position: relative;
    font-size: 1em;
    border: none;
    list-style-type: none;
    background: none;
    text-align: left;
}

*:focus {
    outline: 0 !important;
}


.menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 15px;
}

.hidden {
    display: none;
}

.menuknap {
    display: inline-block;
    margin-left: 1.3em;
}

/*Herunder kommer eneste media query, som er lavet ud fra mobile first*/

@media screen and (min-width:768px) {
    .menuknap {
        display: none;
    }

    .menu.hidden {
        display: flex;
    }

    .menu {
        flex-direction: row;
    }

    .img_tekst {
        display: flex;
    }

    .tekst {
        height: none;
        overflow: visible;
    }

    header {
        justify-content: center;
    }

    .pop_billede {
        width: 60%;
    }
}
