* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: 'Merriweather', serif;
    color: darkslategrey;
}

p {
    margin: 10px 0 0 10px;
    font-family: 'Raleway', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        /*"sidebar main main main"*/
        "footer footer footer footer"

}

.cov {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.cov p {
    margin: 0 auto;
}

.billede:hover {
    opacity: 70%;
}

.item {}

/*
.item-a {
    grid-area: header;
    background-color: beige;
}
*/

.splash {
    background-image: url(tema_07_splash.png);
    background-size: cover;
    width: 100%;
    height: 63vw;
    position: relative;
}

/*
.item-b {
    grid-area: sidebar;
    background-color: beige;
}
*/

.item-c {
    grid-area: main;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.5em;
    margin: 0;

}

.item-d {
    grid-area: footer;
    background-color: beige;
}

article {
    background-color: beige;
}

.valgt {
    text-decoration: underline;
}

#popup {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 80vw;
    height: 80vh;
    margin: 4rem auto;
    background-color: whitesmoke;
    padding: 10px;
}

#popup article img {
    width: 400px;
    height: 400px;
}

.pop_kunstner {
    font-size: 3em;
    text-transform: uppercase;
}

.pop_kategori {
    text-transform: capitalize;
}

#luk {
    position: fixed;
    top: 0;
    right: 1em;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1em;
}

button {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 10px;
    flex-basis: auto;
    position: relative;
    font-size: .8em;
    border: none;
    list-style-type: none;
    background: none;
}

*:focus {
    outline: 0 !important;
}

.billede {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:768px) {}
